@use "../../../styles/utils/function.scss" as *;

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-image: url("/backgrounds/viva-background.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	min-height: 100vh;
	border-radius: 0 0 3.2rem 3.2rem;
	padding: 4rem 2rem;

	@media (max-width: 768px) {
		padding: 8rem 1.6rem 4rem;
		border-radius: 0 0 2.4rem 2.4rem;
	}
}
