.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0.8) 50%,
			rgba(17, 24, 39, 0.8) 100%
		),
		url("/backgrounds/home-mailing-background.webp");
	background-size: cover;
	background-repeat: no-repeat;

	padding-block: 9.6rem;
	gap: 4.2rem;
	border-radius: 0 0 3.2rem 3.2rem;

	@media (max-width: 768px) {
		padding-block: 4.8rem;
		gap: 3.6rem;
		border-radius: 2.4rem;
		background-position: bottom;
	}
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1.8rem;

	@media (max-width: 768px) {
		gap: 1.4rem;
	}
}

.title {
	color: rgba(17, 24, 39, 1);
	font-size: 4.8rem;
	font-weight: 800;
	line-height: 4.8rem;
	letter-spacing: -0.12rem;
	text-transform: uppercase;
	will-change: transform, opacity;

	@media (max-width: 768px) {
		font-size: 3.6rem;
		line-height: 4rem;
		letter-spacing: -0.09rem;
		text-align: center;
	}
}

.text {
	width: 70.4rem;

	color: rgba(55, 65, 81, 1);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	letter-spacing: 0%;
	text-align: center;
	will-change: transform, opacity;

	@media (max-width: 768px) {
		width: 34rem;
	}
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 3.2rem;

	@media (max-width: 768px) {
		gap: 2.4rem;
	}
}

.inputWrapper {
	will-change: transform, opacity;
}

.contactsWrapper {
	display: flex;

	gap: 3.6rem;

	@media (max-width: 768px) {
		flex-direction: column;

		gap: 2rem;
	}
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 0.8rem;

	will-change: transform, opacity;

	@media (max-width: 768px) {
		gap: 0.4rem;
	}
}

.contactTitle {
	color: rgba(255, 255, 255, 0.7);
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6rem;
	letter-spacing: 0.36rem;
	text-transform: uppercase;

	@media (max-width: 768px) {
		font-size: 1rem;
		line-height: 1.4rem;
	}
}

.contactLink {
	color: rgba(255, 255, 255, 0.9);
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 3.2rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}

	@media (max-width: 768px) {
		font-size: 2rem;
		line-height: 2.8rem;
	}
}
