.filter {
	display: flex;

	gap: 1.2rem;

	@media (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.chip {
	padding: 1rem 2rem;
	border: solid 1px rgba(229, 231, 235, 1);
	border-radius: 999.9rem;
	background: rgba(255, 255, 255, 1);

	color: rgba(107, 114, 128, 1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	@media (max-width: 768px) {
		padding-block: 0.85rem;
	}
}

.chipActive {
	box-shadow: 0 1rem 1.5rem -0.3rem rgba(7, 151, 166, 0.35),
		0 0.4rem 0.6rem -0.4rem rgba(7, 151, 166, 0.25);
	background: rgba(7, 151, 166, 1);

	color: rgba(255, 255, 255, 1);
}
