@use "../../../../styles/utils/function.scss" as *;

.sidebar {
	position: sticky;
	overflow: visible;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	top: 1.6rem;
	width: 28.8rem;
	height: calc(100vh - 3.2rem);
	min-width: 28.8rem;
	max-width: 28.8rem;
	padding: 1.6rem;

	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 3.2rem;
	box-shadow: 0 1rem 3rem -0.5rem rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(3.5rem);
	background: rgba(255, 255, 255, 0.6);

	@media (max-width: 768px) {
		flex-direction: row;
		align-items: center;

		min-width: 100%;
		max-width: 100%;
		width: 100%;
		padding: 0.8rem;
		top: 0.8rem;
		border-radius: 2.4rem;
		height: fit-content;

		z-index: z("header");
	}
}

.sidebarContent {
	display: flex;
	flex-direction: column;

	gap: 2.4rem;
}

.header {
	display: flex;
	flex-direction: column;

	gap: 3.2rem;
	padding: 1.6rem;

	@media (max-width: 768px) {
		flex-direction: row;
		align-items: center;
		padding-block: 0;
		gap: 1.6rem;
	}
}

.logoWrapper {
	display: flex;
	align-items: center;

	gap: 0.8rem;
}

.logoImage {
	position: relative;

	height: 4.2rem;
	aspect-ratio: 5.3/1;
}

.userInfo {
	display: flex;
	align-items: center;

	gap: 1.6rem;
	padding: 1.2rem;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 1.6rem;
	box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(0.4rem);
	background: rgba(255, 255, 255, 0.4);

	@media (max-width: 768px) {
		width: fit-content;
		padding: 0;
		border: none;
		border-radius: none;
		box-shadow: none;
		backdrop-filter: none;
		background: none;
	}
}

.userAvatar {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 4rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	box-shadow: 0 0.4rem 0.6rem -0.1rem rgba(186, 230, 253, 1),
		0 0.2rem 0.4rem -0.2rem rgba(186, 230, 253, 1);
	background: rgba(7, 151, 166, 1);

	color: rgba(255, 255, 255, 1);
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0%;
	text-transform: uppercase;
}

.userInfoWrapper {
	display: flex;
	flex-direction: column;

	gap: 0.4rem;

	@media (max-width: 768px) {
		display: none;
	}
}

.userName {
	color: rgba(30, 41, 59, 1);
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.4rem;
	letter-spacing: 0%;
}

.userRole {
	color: #64748b;
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.2rem;
	letter-spacing: 0%;
	text-transform: uppercase;
}

.nav {
	display: flex;
	flex-direction: column;

	gap: 0.8rem;

	@media (max-width: 768px) {
		position: absolute;
		right: 0;
		left: auto;
		top: calc(100% + 0.8rem);
		display: none;
		min-width: 24rem;
		padding: 1rem;
		border: 1px solid rgba(255, 255, 255, 0.6);
		border-radius: 2rem;
		box-shadow: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1),
			0 0.8rem 1rem -0.6rem rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(1.6rem);
		background: rgba(255, 255, 255, 0.95);
		z-index: z("header");
	}
}

.navItem {
	display: flex;
	align-items: center;

	gap: 0.8rem;
	padding: 1.6rem 2rem;
	border-radius: 1.6rem;
	border: 1px solid transparent;

	color: rgba(71, 85, 105, 1);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;

	&:hover {
		background: rgba(7, 151, 166, 0.08);
		border-color: rgba(7, 151, 166, 0.2);
		color: rgba(7, 151, 166, 1);
	}

	&.active {
		border-color: rgba(7, 151, 166, 0.35);
		box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.05);
		backdrop-filter: blur(1.2rem);
		background: linear-gradient(
			90deg,
			rgba(230, 245, 246, 1),
			rgba(218, 239, 242, 1) 100%
		);

		color: rgba(7, 151, 166, 1);

		.icon {
			color: rgba(7, 151, 166, 1);
		}
	}

	@media (max-width: 768px) {
		width: fit-content;
		padding: 1rem 1.4rem;
	}
}

.navItemMobile {
	display: none !important;

	@media (max-width: 768px) {
		display: flex !important;
	}
}

.navActive {
	@media (max-width: 768px) {
		display: flex;
	}

	.navItem {
		@media (max-width: 768px) {
			width: 100%;
			justify-content: flex-start;
		}
	}

	.navItem span {
		@media (max-width: 768px) {
			display: inline;
		}
	}
}

.icon {
	height: 1.4rem;
	width: fit-content;
	color: inherit;

	@media (max-width: 768px) {
		height: 1.8rem;
	}
}

.footer {
	display: flex;
	flex-direction: column;

	gap: 0.8rem;
	padding: 0.8rem;

	@media (max-width: 768px) {
		display: none;
	}
}

.publicSite {
	display: flex;
	justify-content: center;
}

.logout {
	display: flex;
	justify-content: center;

	background: none;

	color: rgba(100, 116, 139, 1);
	font-weight: 400;

	&:hover {
		border: 1px solid rgba(254, 202, 202, 1);
		background: rgba(236, 250, 251, 1);
		color: rgba(239, 68, 68, 1);
	}
}

.menu {
	display: none;

	@media (max-width: 768px) {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 0.4rem;
		width: 4.8rem;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.4);
		backdrop-filter: blur(0.4rem);
		background: rgba(255, 255, 255, 0.4);
		transition: filter 0.2s ease;

		&:hover {
			filter: brightness(96%);
		}

		&:active {
			filter: brightness(92%);
		}
	}
}

.menuLine {
	width: 2rem;
	height: 0.2rem;
	background-color: rgba(30, 41, 59, 1);
}
