.card {
	display: flex;
	flex-direction: column;
	background: rgba(255, 255, 255, 0.03);
	border-radius: 1.2rem;
	overflow: hidden;
	padding: 1.6rem;
	gap: 1.6rem;
}

.image {
	width: 100%;
	border-radius: 0.8rem;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.8rem;
}
