.page {
	background: #050915;
	color: #e2e8f0;

	min-height: 100vh;
	border-radius: 0 0 3.2rem 3.2rem;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
	padding: 6rem 2rem;
}

.grid {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	gap: 3rem;

	@media (max-width: 968px) {
		grid-template-columns: 1fr;
	}
}
