@use "../../../../styles/utils/function.scss" as *;

.benefits {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-block: 6.4rem;

	@media (max-width: 768px) {
		padding-block: 4.8rem;
	}
}

.container {
	display: flex;

	gap: 3.2rem;
	padding: 4rem;
	border-radius: 2.4rem;
	box-shadow: 0 4rem 8rem -6rem rgba(15, 23, 42, 0.35);
	border: solid 1px rgba(15, 23, 42, 0.05);

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 2.4rem;
		padding: 2.4rem;
		border-radius: 2rem;
		margin: 0 1.6rem;
	}
}

.leftSide {
	display: flex;
	flex-direction: column;

	width: 54.4rem;
	gap: 2rem;

	@media (max-width: 768px) {
		width: 100%;
		gap: 1.6rem;
	}
}

.titleWrapper {
	display: flex;
	flex-direction: column;

	gap: 2rem;

	@media (max-width: 768px) {
		gap: 1.2rem;
	}
}

.subtitle {
	color: rgba(7, 151, 166, 1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0.56rem;
	text-transform: uppercase;

	will-change: transform, opacity;

	@media (max-width: 768px) {
		font-size: 1.2rem;
		letter-spacing: 0.36rem;
	}
}

.title {
	color: rgba(17, 24, 39, 1);
	font-size: 3.6rem;
	font-weight: 800;
	line-height: 4rem;
	letter-spacing: 0%;

	will-change: transform, opacity;

	@media (max-width: 768px) {
		font-size: 2.6rem;
		line-height: 3.2rem;
	}
}

.description {
	display: flex;
	flex-direction: column;

	gap: 2rem;

	@media (max-width: 768px) {
		gap: 1.6rem;
	}
}

.descriptionWrapper {
	display: flex;
	flex-direction: column;

	gap: 2rem;

	@media (max-width: 768px) {
		gap: 1.6rem;
	}
}

.text {
	color: rgba(75, 85, 99, 1);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.6rem;
	letter-spacing: 0%;

	will-change: transform, opacity;

	@media (max-width: 768px) {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}

.list {
	display: flex;
	flex-direction: column;

	gap: 1.2rem;

	@media (max-width: 768px) {
		gap: 1rem;
	}
}

.item {
	display: flex;
	align-items: flex-start;

	gap: 1.2rem;

	will-change: transform, opacity;

	@media (max-width: 768px) {
		gap: 1rem;
	}
}

.itemIcon {
	height: 2rem;
	margin-top: 0.2rem;

	color: rgba(7, 151, 166, 1);

	will-change: transform, opacity;

	@media (max-width: 768px) {
		height: 1.8rem;
	}
}

.itemText {
	color: rgba(55, 65, 81, 1);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}

.button {
	width: fit-content;
	padding: 1.2rem 2rem;
	border-radius: 999.9rem;
	box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.1),
		0 0.1rem 0.2rem -0.1rem rgba(0, 0, 0, 0.1);
	background: rgba(7, 151, 166, 1);

	color: rgba(255, 255, 255, 1);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;
	cursor: pointer;

	will-change: transform, opacity;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}

	@media (max-width: 768px) {
		width: 100%;
		text-align: center;
	}
}

.rightSide {
	display: flex;
	flex-direction: column;

	width: 54.4rem;
	gap: 2rem;

	@media (max-width: 768px) {
		width: 100%;
		gap: 1.6rem;
	}
}

.card {
	display: flex;
	flex-direction: column;

	gap: 0.8rem;
	padding: 2.4rem;
	border: 1px solid rgba(243, 244, 246, 1);
	border-radius: 2.4rem;
	box-shadow: inset 0 0.2rem 0.4rem 0.1rem rgba(0, 0, 0, 0.05);

	will-change: transform, opacity;

	&:nth-child(1) {
		background: linear-gradient(
			175.03deg,
			rgba(232, 248, 250, 1),
			rgba(255, 255, 255, 1) 100%
		);
	}

	&:nth-child(2) {
		background: linear-gradient(
			175.03deg,
			rgba(225, 241, 244, 1),
			rgba(255, 255, 255, 1) 100%
		);
	}

	&:nth-child(3) {
		background: linear-gradient(
			175.03deg,
			rgba(253, 242, 248, 1),
			rgba(255, 255, 255, 1) 100%
		);
	}

	@media (max-width: 768px) {
		padding: 2rem;
		border-radius: 1.8rem;
	}
}

.cardTitle {
	color: rgba(17, 24, 39, 1);
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.8rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 1.6rem;
		line-height: 2.2rem;
	}
}

.cardText {
	color: rgba(75, 85, 99, 1);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}
