.layout {
	display: flex;

	gap: 1.6rem;
	padding: 1.6rem;
	min-height: 100vh;
	background: linear-gradient(
		180deg,
		var(--color-grey-93, rgba(218, 239, 242, 1)),
		var(--color-grey-97, rgba(236, 250, 251, 1)) 100%
	);

	@media (max-width: 768px) {
		flex-direction: column;

		padding: 0.8rem;
		gap: 0.8rem;
	}
}

.loading {
	height: 100vh;
	background: linear-gradient(
		180deg,
		var(--color-grey-93, rgba(218, 239, 242, 1)),
		var(--color-grey-97, rgba(236, 250, 251, 1)) 100%
	);
}

.main {
	height: fit-content;
	width: 100%;
	padding: 3.2rem;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 4rem;
	box-shadow: 0 1rem 3rem -0.5rem rgba(0, 0, 0, 0.05);
	backdrop-filter: blur(3.5rem);
	background: rgba(255, 255, 255, 0.6);

	@media (max-width: 768px) {
		padding: 0.8rem;
		border-radius: 2.4rem;
	}
}
