.bar {
	display: flex;
	align-items: center;

	gap: 0.4rem;
	padding: 0.8rem 1.2rem 0.8rem 1.6rem;
	border-radius: 3.2rem;
	box-shadow: 0 2.5rem 5rem -1.2rem rgba(0, 0, 0, 0.25);
	background: rgba(255, 255, 255, 1);
}

.wrapper {
	display: flex;
}

.field {
	display: flex;
	align-items: center;

	width: 41rem;
	padding: 1.2rem 1.6rem;
	gap: 1.6rem;

	border-right: 1px solid rgba(243, 244, 246, 1);
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 4rem;
	height: 4rem;
	border-radius: 999.9rem;

	background: rgba(219, 234, 254, 1);
	color: rgba(37, 99, 235, 1);
}

.purple {
	background: rgba(243, 232, 255, 1);
	color: #9333ea;
}

.fieldText {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.label {
	display: flex;
	align-items: center;
	gap: 0.4rem;
}

.labelText {
	color: rgba(31, 41, 55, 1);
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0%;
}

.placeholder {
	color: rgba(156, 163, 175, 1);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.7rem;
	letter-spacing: 0%;
}

.button {
	display: flex;
	align-items: center;
	background: rgba(59, 130, 246, 1);

	gap: 1.2rem;
	padding: 1rem 0.8rem 1rem 2.4rem;
	border-radius: 2.4rem;
	box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1),
		0 0.4rem 0.6rem -0.4rem rgba(0, 0, 0, 0.1);

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}
}

.buttonText {
	color: rgba(255, 255, 255, 1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0%;
}

.buttonIcon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 3.2rem;
	height: 3.2rem;
	border-radius: 999.9rem;
	background: rgba(255, 255, 255, 0.2);

	color: #ffffff;
}
