.pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 1.6rem;
	padding: 4rem 2rem 6rem;
	max-width: 120rem;
	margin: 0 auto;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 1.2rem;
		padding: 3.2rem 1.6rem 4.8rem;
	}
}

.button {
	display: flex;
	align-items: center;

	gap: 0.8rem;
	padding: 1rem 2rem;
	border: solid 1px rgba(229, 231, 235, 1);
	border-radius: 999.9rem;
	background: rgba(255, 255, 255, 1);

	color: rgba(107, 114, 128, 1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover:not(:disabled) {
		filter: brightness(90%);
	}

	&:disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}

	@media (max-width: 768px) {
		width: 100%;
		justify-content: center;
		padding: 1rem 1.6rem;
		font-size: 1.3rem;
	}
}

.pages {
	display: flex;

	gap: 0.8rem;

	@media (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.page {
	display: flex;
	align-items: center;
	justify-content: center;

	min-width: 4rem;
	height: 4rem;
	padding: 1rem 2rem;
	border: solid 1px rgba(229, 231, 235, 1);
	border-radius: 999.9rem;
	background: rgba(255, 255, 255, 1);

	color: rgba(107, 114, 128, 1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&:hover:not(:disabled):not(.active):not(.dots) {
		filter: brightness(90%);
	}

	&.active {
		border-radius: 999.9rem;
		box-shadow: 0 1rem 1.5rem -0.3rem rgba(7, 151, 166, 0.35),
			0 0.4rem 0.6rem -0.4rem rgba(7, 151, 166, 0.25);
		background: rgba(7, 151, 166, 1);
		color: rgba(255, 255, 255, 1);
	}

	&.dots {
		cursor: default;
		background: transparent;
		border: none;

		&:hover {
			background: transparent;
		}
	}

	&:disabled {
		cursor: default;
	}

	@media (max-width: 768px) {
		min-width: 3.4rem;
		height: 3.4rem;
		padding: 0.6rem 1rem;
		font-size: 1.2rem;
	}
}
