@use "../../../../styles/utils/function.scss" as *;

.hero {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1.8rem;

	@media (max-width: 768px) {
		gap: 1.2rem;
		padding: 0 1.6rem;
	}
}

.title {
	font-family: var(--font-oswald);
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 5.6rem;
	color: #ffffff;

	@media (max-width: 768px) {
		font-size: 3.6rem;
		line-height: 3.8rem;
		text-align: center;
	}
}

.subtitle {
	color: rgba(255, 255, 255, 0.9);
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 2.4rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
	}
}
