@use "../../../../styles/utils/function.scss" as *;

.filters {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 4rem 2rem;
	gap: 3rem;
	margin: 0 auto;
}

.search {
	position: relative;

	width: 100rem;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.searchIcon {
	position: absolute;

	left: 2rem;
	top: 50%;
	transform: translateY(-50%);
	color: rgba(100, 116, 139, 0.6);
	pointer-events: none;
	z-index: 2;

	@media (max-width: 768px) {
		left: 1.6rem;
	}
}

.searchInputWrapper {
	width: 100%;

	& > div {
		margin: 0;
	}

	& input {
		padding-left: 5.6rem !important;
	}

	@media (max-width: 768px) {
		& input {
			padding-left: 4.8rem !important;
		}
	}
}

.tagsList {
	display: flex;
	flex-wrap: wrap;
	gap: 1.2rem;

	@media (max-width: 768px) {
		gap: 0.8rem;
		justify-content: center;
	}
}

.tag {
	padding: 1rem 2rem;
	border: solid 1px rgba(229, 231, 235, 1);
	border-radius: 999.9rem;
	background: rgba(255, 255, 255, 1);

	color: rgba(107, 114, 128, 1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&.active {
		border-radius: 999.9rem;
		box-shadow: 0 1rem 1.5rem -0.3rem rgba(7, 151, 166, 0.35),
			0 0.4rem 0.6rem -0.4rem rgba(7, 151, 166, 0.25);
		background: rgba(7, 151, 166, 1);

		color: rgba(255, 255, 255, 1);
	}

	@media (max-width: 768px) {
		padding: 0.8rem 1.6rem;
		font-size: 1.2rem;
		line-height: 1.8rem;
	}
}

@media (max-width: 768px) {
	.filters {
		padding: 3.2rem 1.6rem;
		gap: 2rem;
	}
}
