.form {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

.inputWrapper {
	display: flex;
	align-items: center;

	gap: 1.2rem;
	padding: 1.2rem 1.6rem;
	border: solid 1px rgba(255, 255, 255, 0.3);
	border-radius: 3.2rem;
	box-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.15);
	backdrop-filter: blur(2rem);
	background: rgba(255, 255, 255, 0.3);

	@media (max-width: 768px) {
		flex-direction: column;
		border-radius: 2.4rem;
		width: 35.8rem;
	}
}

.input {
	width: 65.8rem;
	padding: 1rem 1.6rem;
	border-right: solid 1px rgba(255, 255, 255, 0.4);

	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.9rem;
	letter-spacing: 0%;

	&::placeholder {
		color: rgba(156, 163, 175, 1);
	}

	@media (max-width: 768px) {
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		border-right: none;
		width: calc(100% - 3.2rem);
	}
}

.button {
	padding: 1.4rem 2.4rem;
	border-radius: 2.4rem;
	box-shadow: 0 1rem 1.5rem -0.3rem rgba(7, 151, 166, 0.25),
		0 0.4rem 0.6rem -0.4rem rgba(7, 151, 166, 0.2);
	background: rgba(7, 151, 166, 1);

	color: rgba(255, 255, 255, 1);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}

	@media (max-width: 768px) {
		width: 100%;
	}
}

.errorText {
	color: rgba(239, 68, 68, 1);
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0;
	text-align: center;
}
