.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;

	padding-block: 9.6rem;
	gap: 4.2rem;
	border-radius: 2.4rem 2.4rem 0 0;
	min-height: 130rem;

	@media (max-width: 768px) {
		padding-block: 4.8rem;
		gap: 4rem;
		min-height: none;
	}
}

.description {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1.6rem;
}

.subtitle {
	color: rgba(7, 151, 166, 1);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0.56rem;
	text-transform: uppercase;
	will-change: transform, opacity;
}

.descriptionWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1.8rem;

	@media (max-width: 768px) {
		gap: 1.6rem;
	}
}

.title {
	color: rgba(17, 24, 39, 1);
	font-size: 4.8rem;
	font-weight: 800;
	line-height: 4.8rem;
	letter-spacing: 0%;
	will-change: transform, opacity;

	@media (max-width: 768px) {
		font-size: 3.6rem;
		font-weight: 800;
		line-height: 4rem;
		text-align: center;
	}
}

.text {
	width: 73.8rem;

	color: rgba(107, 114, 128, 1);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	letter-spacing: 0%;
	text-align: center;
	will-change: transform, opacity;

	@media (max-width: 768px) {
		width: 35rem;
	}
}

.carousel {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 4.8rem;
	width: 100%;
	will-change: transform, opacity;
}
