@use "../../../styles/utils/function.scss" as *;

.wrapper {
	position: relative;
	z-index: z("home-wrapper");

	background-color: #000;
	border-radius: 3.2rem 3.2rem 0 0;

	@media (max-width: 768px) {
		border-radius: 2.4rem 2.4rem 0 0;
	}
}

.content {
	position: relative;
	background-color: #fff;

	border-radius: 3.2rem;

	@media (max-width: 768px) {
		border-radius: 2.4rem;
	}
}
