@use "../../../styles/utils/function.scss" as *;

.header {
	--menu-bg: rgba(255, 255, 255, 0.15);
	--menu-border: rgba(255, 255, 255, 0.3);
	--menu-shadow: 0 0.8rem 3.2rem 0 rgba(31, 38, 135, 0.15);
	--item-hover: rgba(255, 255, 255, 0.2);
	--text-color: #ffffff;

	position: fixed;
	z-index: z("header");
	top: 0;
	left: 16rem;
	right: 16rem;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 9.8rem;
	padding-inline: 4rem;
	border-radius: 3.2rem;
	will-change: transform, opacity, background-color, backdrop-filter;

	&.scrolled {
		--menu-bg: rgba(20, 20, 20, 0.85);
		--menu-border: rgba(255, 255, 255, 0.1);
		--menu-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
		--item-hover: rgba(255, 255, 255, 0.1);
	}

	@media (max-width: 768px) {
		left: 0;
		right: 0;
		height: 8rem;
		padding-inline: 1.6rem;
		border-radius: 0 0 2.4rem 2.4rem;
	}
}

.logo {
	position: relative;

	height: 4.8rem;
	aspect-ratio: 5.3/1;
	width: fit-content;

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}

	@media (max-width: 768px) {
		height: 4rem;
	}
}

.logoImage {
	object-fit: cover;
}

.text {
	color: #ffffff;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 3.2rem;
	letter-spacing: 0.06rem;
}

.nav {
	display: flex;
	position: relative;

	border: solid 1px var(--menu-border);
	border-radius: 999.9rem;
	box-shadow: var(--menu-shadow);
	backdrop-filter: blur(2rem);
	background: var(--menu-bg);
	padding: 0.8rem 1rem;
	gap: 0.4rem;

	@media (max-width: 768px) {
		display: none;
		flex-direction: column;
		border: 1px solid rgba(255, 255, 255, 0.4);
		border-radius: 1.6rem;
		box-shadow: 0 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1),
			0 0.8rem 1rem -0.6rem rgba(0, 0, 0, 0.1);
		background: rgba(255, 255, 255, 1);
		overflow: hidden;
		padding: 0;
	}
}

.navActive {
	position: fixed;
	display: flex;

	z-index: z("header");
	top: 8rem;
	right: 1.6rem;
}

.buttonWrapper {
	display: flex;
	justify-content: flex-end;

	width: 25.44rem;

	@media (max-width: 768px) {
		display: none;
	}
}

.button {
	display: flex;
	align-items: center;
	background-color: #ffffff;

	border-radius: 999.9rem;
	box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1),
		0 0.4rem 0.6rem -0.4rem rgba(0, 0, 0, 0.1);
	gap: 1.2rem;
	padding: 0.8rem 0.8rem 0.8rem 2.4rem;

	transition: all 0.2s ease-in-out;
}

.button:hover {
	filter: brightness(90%);
}

.buttonText {
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 2rem;
	letter-spacing: 0%;
}

.buttonIcon {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	width: 3.2rem;
	height: 3.2rem;

	border-radius: 999.9rem;
	box-shadow: 0 0.4rem 0.6rem -0.1rem rgba(0, 0, 0, 0.1),
		0 0.2rem 0.4rem -0.2rem rgba(0, 0, 0, 0.1);
	background: rgba(7, 151, 166, 1);
}

.buttonMobile {
	display: none;

	@media (max-width: 768px) {
		display: flex;
	}
}

.arrowMain,
.arrowSecondary {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.arrowSecondary {
	transform: translate(-100%, 100%);
}

.menu {
	display: none;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		gap: 0.4rem;
		width: 4.8rem;
		aspect-ratio: 1/1;
		border-radius: 50%;

		border: 1px solid rgba(255, 255, 255, 0.4);
		backdrop-filter: blur(0.4rem);
		background: rgba(255, 255, 255, 0.2);
	}
}

.menuLine {
	width: 2rem;
	height: 0.2rem;
	background-color: #fff;
}
