.embla {
	display: flex;
	flex-direction: column;

	width: 100%;
	gap: 4.8rem;
	--slide-spacing: -4rem;
	--slide-size: 59.2rem;

	@media (max-width: 768px) {
		gap: 4rem;
		--slide-spacing: -1.6rem;
		--slide-size: 35.8rem;
	}
}

.viewport {
	overflow: visible;

	@media (max-width: 768px) {
		overflow: hidden;
	}
}

.container {
	display: flex;
	touch-action: pan-y pinch-zoom;
	margin-inline: calc(var(--slide-spacing) * -1);
	gap: 3.2rem;

	@media (max-width: 768px) {
		gap: 1.6rem;
	}
}

.card {
	flex: 0 0 var(--slide-size);
	padding-inline: var(--slide-spacing);
	min-width: 0;
}

.cardInner {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	height: 100%;
	border: 1px solid rgba(243, 244, 246, 1);
	border-radius: 2.4rem;
	background-color: #ffffff;
	box-shadow: 0 4rem 6rem -4rem rgba(15, 23, 42, 0.3);

	transition: transform 0.5s ease, box-shadow 0.5s ease;
	will-change: transform, opacity;

	&:hover {
		transform: translateY(-0.8rem);
		box-shadow: 0 5rem 7rem -4rem rgba(15, 23, 42, 0.5);

		.image img {
			transform: scale(1.05);
		}
	}
}

.image {
	position: relative;
	overflow: hidden;

	height: 39.2rem;

	img {
		object-fit: cover;
		transition: transform 0.5s ease;

		width: 100%;
		height: 100%;
	}

	@media (max-width: 768px) {
		height: 23.6rem;
	}
}

.content {
	display: flex;
	flex-direction: column;

	gap: 3.4rem;
	padding: 3.2rem;

	@media (max-width: 768px) {
		gap: 2.6rem;
		padding: 2.4rem;
	}
}

.top {
	display: flex;
	flex-direction: column;

	gap: 2.6rem;

	@media (max-width: 768px) {
		gap: 1.8rem;
	}
}

.description {
	display: flex;
	flex-direction: column;

	gap: 1.8rem;

	@media (max-width: 768px) {
		gap: 1rem;
	}
}

.descriptionWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	color: rgba(17, 24, 39, 1);
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 3.2rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

.rating {
	display: flex;
	align-items: center;

	gap: 0.4rem;
}

.ratingNum {
	color: rgba(234, 179, 8, 1);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0%;
}

.text {
	color: rgba(107, 114, 128, 1);
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 2.4rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 1.4rem;
	}
}

.list {
	display: flex;
	flex-direction: column;

	gap: 1.2rem;

	@media (max-width: 768px) {
		gap: 0.8rem;
	}
}

.listItem {
	position: relative;

	color: rgba(107, 114, 128, 1);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0%;

	padding-left: 1.2rem;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		width: 0.6rem;
		height: 0.6rem;
		border-radius: 50%;
		background-color: rgba(7, 151, 166, 1);
	}
}

.bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.price {
	display: flex;
	flex-direction: column;

	gap: 0.4rem;
}

.pricePlaceholder {
	color: rgba(156, 163, 175, 1);
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6rem;
	letter-spacing: 0%;
	text-transform: uppercase;
}

.priceText {
	color: rgba(17, 24, 39, 1);
	font-size: 3rem;
	font-weight: 700;
	line-height: 3.6rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 2.4rem;
		line-height: 2.4rem;
	}
}

.bottomButton {
	padding: 1.4rem 2.4rem;
	border-radius: 999.9rem;
	background: rgba(7, 151, 166, 1);
	transition: all 0.2s ease-in-out;

	color: rgba(255, 255, 255, 1);
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 2.4rem;
	letter-spacing: 0%;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}

	@media (max-width: 768px) {
		padding: 1rem 1.8rem;

		font-size: 1.4rem;
		line-height: 2rem;
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-inline: 4rem;

	@media (max-width: 768px) {
		flex-direction: column;

		gap: 1.6rem;
		margin-inline: 1.6rem;
	}
}

.buttons {
	display: flex;

	gap: 1.2rem;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	width: 4.8rem;
	height: 4.8rem;
	border-radius: 50%;

	box-shadow: 0 1rem 1.5 -0.3rem rgba(7, 151, 166, 0.35),
		0 0.4rem 0.6rem -0.4rem rgba(7, 151, 166, 0.25);
	background: rgba(7, 151, 166, 1);
	color: #ffffff;

	transition: background-color 0.2s ease, filter 0.2s ease,
		border-color 0.2s ease;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}

	&:disabled {
		color: rgba(229, 231, 235, 1);
		background: transparent;
		border: solid 1px rgba(229, 231, 235, 1);
		cursor: not-allowed;
		box-shadow: none;

		opacity: 0.5;
		pointer-events: none;
	}
}

.inner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2rem;
	height: 2rem;
}

.iconMain,
.iconCopy {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dots {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	gap: 0.8rem;

	@media (max-width: 768px) {
		justify-content: center;
	}
}

.dot {
	width: 1rem;
	aspect-ratio: 1/1;
	border-radius: 999.9rem;
	background: rgba(209, 213, 219, 1);

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}
}

.dot__selected {
	background: rgba(7, 151, 166, 1);
}
