.footer {
	position: sticky;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(0, 0, 0, 1);

	bottom: 0;
	z-index: -1;
	border-radius: 3.2rem 3.2rem 0 0;

	@media (max-width: 768px) {
		border-radius: 2.4rem 2.4rem 0 0;
	}
}

.footerTop {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding-block: 6.4rem;
	gap: 4.8rem;

	@media (max-width: 768px) {
		padding: 2.4rem 1.6rem;
		gap: 2.6rem;
	}
}

.footerTopWrapper {
	display: flex;

	gap: 4rem;

	@media (max-width: 768px) {
		flex-direction: column;

		gap: 2.4rem;
	}
}

.contentWrapper {
	display: flex;

	gap: 4rem;

	@media (max-width: 768px) {
		justify-content: space-between;
	}
}

.content {
	display: flex;
	flex-direction: column;

	gap: 1.6rem;
}

.logo {
	display: flex;
	align-items: center;

	gap: 1.2rem;

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}
}

.logoText {
	color: rgba(255, 255, 255, 1);
	font-size: 2.4rem;
	font-weight: 600;
	line-height: 3.2rem;
	letter-spacing: 0%;
}

.contentText {
	width: 29rem;

	color: rgba(156, 163, 175, 1);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0%;
}

.contentTitle {
	color: rgba(255, 255, 255, 0.6);
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 2rem;
	letter-spacing: 0.56rem;
	text-transform: uppercase;
}

.links {
	display: flex;
	flex-direction: column;

	gap: 1.2rem;
}

.link {
	color: rgba(209, 213, 219, 1);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: 0%;

	transition: all 0.2s ease-in-out;

	&:hover {
		filter: brightness(90%);
	}

	&:active {
		filter: brightness(80%);
	}
}

.company {
	display: flex;
	justify-content: center;

	padding-top: 2.6rem;
	width: 100%;
	border-top: solid 1px rgba(255, 255, 255, 0.1);

	@media (max-width: 768px) {
		padding-top: 1.8rem;
	}
}

.companyText {
	color: rgba(107, 114, 128, 1);
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 1rem;
		line-height: 1.4rem;
	}
}

.footerBottom {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;

	width: 100%;
	height: 34.2rem;

	@media (max-width: 768px) {
		height: 15rem;
		margin-bottom: 2.4rem;
	}
}

.footerBottomText {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1),
		rgba(255, 255, 255, 0.6),
		rgba(31, 41, 55, 1) 60%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	font-family: var(--font-oswald);
	font-size: 30.7rem;
	font-weight: 400;
	line-height: 24.576rem;
	letter-spacing: 1.6rem;
	text-transform: uppercase;

	@media (max-width: 768px) {
		color: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0.6) 50%,
			rgba(31, 41, 55, 1) 100%
		);
		font-size: 8.58rem;
		line-height: 6.864rem;
		letter-spacing: 0.64rem;
		text-align: center;
	}
}
