.section {
	display: flex;
	flex-direction: column;

	gap: 2.4rem;
}

.title {
	color: rgba(17, 24, 39, 1);
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 4rem;
	letter-spacing: 0%;

	@media (max-width: 768px) {
		font-size: 2.2rem;
		line-height: 2.8rem;
	}
}

.formWrap {
	display: flex;
	justify-content: center;
}
