@use "../utils/variables" as *;

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 1920 * 10);
	line-height: 1;
	background-color: #ffffff;
	overscroll-behavior: none;

	@media (min-width: 1921px) {
		font-size: clamp(8.8px, calc(10px - (100vw - 1920px) / 640 * 0.8), 10px);
	}

	@media (max-width: 768px) {
		font-size: calc(100vw / 390 * 10);
	}
}

body {
	font-family: var(--font-inter);
	background-color: #ffffff;
	overflow-x: hidden;
	overscroll-behavior: none;
}

@media (max-width: 768px) {
	body {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	body::-webkit-scrollbar {
		display: none;
	}
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

button {
	background: none;
	color: inherit;
	cursor: pointer;
	outline: none;
	border: none;
}
